{% extends "func_base.html" %}

{% block content-head %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><a href="{% url 'workorder_index' %}">产品管理<a> / 编辑</h1>
    </div>
{% endblock %}
{% block content %}
    <ul class="list-group list-group-flush">
    {% for product in editProduct %}
        <li class="list-group-item">
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="exampleFormControlInput1">{{ product.label }}</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    {{ product }}
                </div>

            </div>
        </li>
    {% endfor %}
    </ul>
    <button type="button" class="btn btn-success btn-sm">Small button</button>
{% endblock %}