{% extends "func_base.html" %}

{% block content-head %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">产品管理</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#exampleModal">+
                增加新产品
            </button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增产品</h5>
                    <button type="button" onclick="pageRefresh()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body successInfo">
                    <form id="addProductInfo">
                        {% for pro in addProduct %}
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">{{ pro.label }}</label>
                                {{ pro }}
                            </div>
                        {% endfor %}
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="pageRefresh()" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="addProduct()" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-sm">
        <thead>
        <tr>
            {% for title in proNameList %}
                {% if title.name != "explain" %}
                    <th>{{ title.verbose_name }}</th>
                {% endif %}
            {% endfor %}
            <th>产品负责人</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        {% for data in productData %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.code }}</td>
                <td>
                    {% for user in data.productOwner.all %}
                        <span class="badge badge-info">{{ user }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a role="button"  href="/WorkOrder/editProduct/?id={{ data.id }}" class="btn btn-primary btn-sm">编辑</a>
                    <button type="button" class="btn btn-danger btn-sm">删除</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block js %}

    <script>
        function addProduct() {
            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "{% url 'workorder_index' %}",
                    data: $("#addProductInfo").serialize(),
                    headers: {"X-CSRFToken": "{{ csrf_token }}"}, //Django中表单提交都需要csrf验证
                    success: function (data) {
                        if (data["status"] == "false") {
                            for (var info in data["msg"]) {
                                var inputLabel = "#addProductInfo #id_" + info
                                $(inputLabel).attr({"aria-describedby": "errInfo"})
                                $(inputLabel).addClass("is-invalid")
                                $(inputLabel).after(
                                    "<div id='errInfo' class='invalid-feedback'>" + data["msg"][info][0] + "</div>"
                                )
                            }
                            document.getElementById("addProductInfo").reset();
                        } else {
                            $(".successInfo").after(
                                "<div class='alert alert-success' role='alert'><strong>恭喜！</strong>产品添加成功！</div>"
                            )
                            document.getElementById("addProductInfo").reset();
                        }
                    }
                }
            )
        }
        function pageRefresh() {
            window.location.reload()
        }
    </script>
{% endblock %}