{% extends "func_base.html" %}
{% block css %}
    .submit-row {
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
    }
{% endblock %}

{% block content-head %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><a href="{% url 'project_index' %}">项目管理<a> / 编辑</h1>
    </div>
{% endblock %}

{% block content %}
    <form id="editProject">
        <ul class="list-group list-group-flush">
            {% csrf_token %}
            {% for project in editProject %}
                <li class="list-group-item">
                    <div class="form-inline" id="edit-project">
                        <div class="form-group mb-2">
                            <label for="exampleFormControlInput1">{{ project.label }}</label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ project }}
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="submit-row">
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#staticBackdrop">删除
            </button>
            <button type="button" onclick="saveProject()" class="btn btn-primary">保存</button>
        </div>

        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" id="delete-err-info">
                        <strong>确认删除当前项目信息吗？</strong>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" onclick="deleteProject()" class="btn btn-danger">确认删除</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script>
        var urlPath = window.location.pathname;

        function saveProject() {
            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "%s" % (urlPath),
                    data: $("#editProject").serialize(),
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    success: function (data) {
                        if (data["status"] == "false") {
                            for (var info in data["msg"]) {
                                var inputLabel = "#edit-project #id_" + info
                                $(inputLabel).attr({"aria-describedby": "errInfo"})
                                $(inputLabel).addClass("is-invalid")
                                $(inputLabel).after(
                                    "<div id='errInfo' class='invalid-feedback'>" + data["msg"][info][0] + "</div>"
                                )
                            }
                        } else {
                            location.href = "{% url 'project_index' %}"
                        }
                    }
                }
            )
        }

        function deleteProject() {
            $.ajax(
                {
                    type: "get",
                    data: "json",
                    url: urlPath + "delete",
                    success: function (data) {
                        if (data["status"] == "false") {
                            $("#delete-err-info").after(
                                "<div class='alert alert-danger' role='alert'>" + data["msg"] + "</div>"
                            )
                        } else if (data.status == "true") {
                            location.href = "{% url 'project_index' %}"
                        }
                    }
                }
            )
        }

    </script>
{% endblock %}