
<!-- 我参与的项目 -->
<div class="card border-info mb-3">
            <div class="card-header">
                <i class="fa fa-handshake-o"></i>
                我参与的项目</div>
            <div class="card-body text-info">
                <div class="row row-cols-1 row-cols-md-3">
                    {% if  user_PartProject %}
                        {% for data in user_PartProject %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-nowrap">
                                            <div class="lineHidden">
                                                <i class="fa fa-star-o" onclick="signStar(this,{{ data.id }})"></i>
                                                <a class="text-info"
                                                   href="/BusinessInfo/detailProject/{{ data.id }}">{{ data.name }}
                                                    | {{ data.code }}</a>
                                            </div>
                                            {% if data.get_proType_display == "Agile" %}
                                                <span class="badge badge-pill badge-success">{{ data.proType }}</span>
                                            {% elif data.get_proType_display == "Waterfall" %}
                                                <span class="badge badge-pill badge-primary">{{ data.proType }}</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-warning">{{ data.proType }}</span>
                                            {% endif %}
                                        </h5>
                                        <p class="card-text">
                                            <strong>关联产品: </strong>
                                            {% if data.product  == None %}
                                                无
                                            {% else %}
                                                <a class="text-info"
                                                   href="/BusinessInfo/editProduct/{{ data.product.id }}/">{{ data.product }}</a>
                                            {% endif %}
                                        </p>
                                        <p class="card-text"><small class="text-muted">{{ data.startDate }}
                                            - {{ data.endDate }}</small></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="card-body text-info">
                            <h5 class="card-title"><strong>目前没有我参与的项目</strong></h5>
                            <p class="card-text">项目创建人邀请关联人后，该项目就属于关联人的参与者。</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>