{% extends "func_base.html" %}

{% block content-head %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">数据库管理</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#exampleModal">+
                增加数据库
            </button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- 新增数据库模态框 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增数据库</h5>
                    <button type="button" onclick="pageRefresh()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body successInfo">
                    <form id="addDBInfo">
                        {% for dbItem in addDatabaseInfo %}
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">{{ dbItem.label }}</label>
                                {{ dbItem }}
                            </div>
                        {% endfor %}
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="pageRefresh()" class="btn btn-secondary" data-dismiss="modal">关闭
                    </button>
                    <button type="button" onclick="addDBMS()" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">名称</th>
            <th scope="col">环境</th>
            <th scope="col">库名</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for db in dbInfo %}
            <tr>
                <th scope="row">{{ db.id }}</th>
                <td>{{ db.name }}</td>
                <td>{{ db.env }}</td>
                <td>{{ db.dbHouse }}</td>
                <td>
                    <a href="{% url 'dbms_edit' id=db.id %}"><button type="button" class="btn btn-outline-info btn-sm"
                            data-toggle="modal" data-target="#editModel">编辑
                    </button></a>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                            data-target="#deleteModel" onclick="deleteConfirm('{{ db.name }}')">删除
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- 信息删除模态框 -->
    <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="deleteModel-info"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="deleteInfo()">删除</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        function addDBMS() {
            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "{% url 'dbms_index' %}",
                    data: $("#addDBInfo").serialize(),
                    headers: {"X-CSRFToken": "{{ csrf_token }}"}, //Django中表单提交都需要csrf验证
                    success: function (data) {
                        if (data["status"] == "false") {
                            for (var info in data["msg"]) {
                                var inputLabel = "#addDBInfo #id_" + info
                                $(inputLabel).attr({"aria-describedby": "errInfo"})
                                $(inputLabel).addClass("is-invalid")
                                $(inputLabel).after(
                                    "<div id='errInfo' class='invalid-feedback'>" + data["msg"][info][0] + "</div>"
                                )
                            }
                            document.getElementById("addDBInfo").reset();
                        } else {
                            $(".successInfo").after(
                                "<div class='alert alert-success' role='alert'><strong>恭喜！</strong>数据库添加成功！</div>"
                            )
                            document.getElementById("addDBInfo").reset();
                        }
                    }
                }
            )
        }

        function pageRefresh() {
            window.location.reload()
        }

        // 删除数据库信息
        function deleteConfirm(dbName) {
            $("#deleteModel-info").html(
                "<p class='font-weight-bold'>请确定是否删除<span class='text-danger' id='delete-dbNane'> " + dbName + " </span>数据库信息？</p>"
            )
        }

        function deleteInfo() {
            var dbname = $("#delete-dbNane").html()
            $.ajax(
                {
                    url: "{% url 'dbms_index' %}",
                    type: "delete",
                    data: {"dbname": dbname},
                    dataType: "json",
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    success: function (data) {
                        if (data["status"] == "false") {
                            alert("数据库删除失败！")
                        } else {
                            window.location.reload()
                        }
                    }
                }
            )
        }

    </script>
{% endblock %}