{% extends "func_base.html" %}
{% load static %}

{% block content-head %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">数据库SQL查询</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="form-inline">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">数据库</button>
            </div>
            <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                {% for info in dbInfo %}
                    <option id="dbname">{{ info }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" id="exesql" class="btn btn-primary mx-sm-3 mb-2" onclick="execSQL()">执行sql</button>
    </div>


    <pre id="code" style="min-height:370px;width: 100%;">
        <textarea style="min-height:370px;width: 100%" id="sql" placeholder="SQL语句"></textarea>
    </pre>

    <div class="table-responsive" id="resultdata">
        <div class="spinner-border m-5 invisible" role="status" id="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link">Previous</a>
            </li>

            <li class="page-item" id="pageItem">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


{% endblock %}

{% block js %}
    <script src="{% static "js/ace.js" %}"></script>
    <script src="{% static "js/ext-beautify.js" %}"></script>
    <script src="{% static "js/ext-language_tools.js" %}"></script>
    <script src="{% static "js/mode-mysql.js" %}"></script>
    <script src="{% static "js/theme-monokai.js" %}"></script>
    <script>
        editor = ace.edit('code');// 这个地方就是id是editor的div
        editor.setTheme('ace/theme/monokai'); //主题
        var jsMode = ace.require('ace/mode/mysql').Mode; //支持语言
        editor.session.setMode(new jsMode());    //引入
        editor.setFontSize(18);    //设置默认标签大小
        editor.setReadOnly(false);        //false为可编辑
        editor.setOption("wrap", "free");   //换行
        ace.require("ace/ext/language_tools");
        editor.setOptions({
            enableBasicAutocompletion: true, //启用基本自动完成
            enableSnippets: true,             //启用代码段
            enableLiveAutocompletion: true    //启用实时自动完成

        });
    </script>
    <script>
        function execSQL() {
            $("#exesql").attr("disabled", 'disabled');
            $("#loading").removeClass("invisible")
            var execInfo = {
                "db": $("#dbname").val(),
                "sql": editor.getValue(),
                "page":getUrlParam('page'),
            }
            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(execInfo),
                    url: "{% url 'dbms_sqlExec' %}",
                    headers: {"X-CSRFToken": "{{ csrf_token }}"}, //Django中表单提交都需要csrf验证
                    success: function (data) {
                        $("#exesql").removeAttr("disabled");
                        $("#loading").addClass("invisible")
                        if (data["status"] == "false") {
                            $("#code").after(
                                {#"<div class='alert alert-danger' role='alert'>" + data["msg"] + "</div>"#}
                                "<div class='alert alert-danger alert-dismissible fade show' role='alert'>" + data["msg"] + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'> <span aria-hidden='true'>&times;</span> </button> </div>"
                            )
                        } else {
                            $('#resultdata').html("");
                            $("#resultdata").html(
                                "<table class='table table-bordered'><thead><tr id='resultHeader'> </thead> <tbody id='resultData'> </tbody> </table>"
                            );

                            for (var page = 1;page<=data["data"]["allrow"];page++) {
                                $("#pageItem").before(
                                "<li class='page-item'><a class='page-link' href='?page=" + page + "'>" + page + "</a></li>"
                            );
                            }

                            for (var head in data["data"]["header"]) {
                                $("#resultHeader").append(
                                    "<th scope='col'>" + data["data"]["header"][head] + "</th>"
                                )
                            }
                            for (var result in data["data"]["results"]) {

                                var trname = "resultData_" + result
                                $("#resultData").append(
                                    "<tr id=" + trname + "></tr>"
                                )
                                for (var res in data["data"]["results"][result]) {
                                    var trname = "#resultData_" + result
                                    $(trname).append(
                                        "<td>" + data["data"]["results"][result][res] + "</td>"
                                    )
                                }
                            }
                        }
                    }
                }
            )
        }
    </script>
{% endblock %}